@import 'compass';

$white: #fff;
$black: #333;
$blue: #4A97E6;
$font-base: "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body {
    height: 100%;
}
body {
    margin: 0;
    font: normal 75% $font-base;
}
a {
    text-decoration: none;
    @include transition(all 0.3s);
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}
.strut {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

// first we'll define the folders where the sprites are and their layouts
$icons: sprite-map("icons/*.png", $layout: smart);
$icons-2x: sprite-map("icons-2x/*.png", $layout: smart);

// Sprite mixin, works perfectly with standard defines
@mixin use-sprite($sprite) {
    background-image: sprite-url($icons);
    background-position: sprite-position($icons, $sprite);
    background-repeat: no-repeat;
    height: image-height(sprite-file($icons, $sprite));
    overflow: hidden;
    width: image-width(sprite-file($icons, $sprite));

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
        background-image: sprite-url($icons-2x);
        background-position: round(nth(sprite-position($icons-2x, $sprite), 1) / 2) round(nth(sprite-position($icons-2x, $sprite), 2) / 2);
        background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
        height: image-height(sprite-file($icons-2x, $sprite)) / 2;
        width: image-width(sprite-file($icons-2x, $sprite)) / 2;
    }
}

@function icon-width($name) {
    @return image-width(sprite-file($icons, $name));
}

@function icon-height($name) {
    @return image-height(sprite-file($icons, $name));
}

#particles-js {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(farthest-corner at 50% 0, #5F9CE9 0%, #002A5F 100%);
    text-align: center;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .content {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;

        .logo {
            width: 161px;
            height: 85px;
        }
        h1 {
            color: $white;
            font-size: 32px;
            margin: 25px 0;
        }
        h2 {
            font-size: 14px;
            color: $white;
            margin-bottom: 100px;

            span {
                display: inline-block;
                vertical-align: middle;
            }
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                height: 1px;
                margin-right: 20px;
                background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, transparent), color-stop(100%, $white));
            }
            &::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                height: 1px;
                margin-left: 20px;
                background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, transparent), color-stop(100%, $white));
            }
        }
        .dl-btn {
            display: block;
            margin: 0 auto;
            width: 130px;
            line-height: 36px;
            border: 1px solid $white;
            border-radius: 3px;
            color: $white;
            font-size: 14px;

            &:hover {
                background-color: $white;
                color: #295FA4;
            }
        }
    }
}

.header {
    // position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: $white;
    box-shadow: 0 1px 1px #ddd;

    .w960 {
        width: 960px;
        height: 100%;
        margin: 0 auto;
    }
    .logo {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        @include use-sprite('logo-small');
    }
    .logo-text {
        font-size: 28px;
        color: $black;
        vertical-align: middle;
    }
    .nav {
        margin: 0 40px;
        padding: 10px 0;
        border-left: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        overflow: hidden;

        li {
            float: left;
            margin-left: 40px;

            a {
                font-size: 14px;
                color: $black;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
    .dl-btn-dark {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 160px;
        line-height: 40px;
        color: $white;
        background-color: $blue;
        border-radius: 3px;
        font-size: 14px;
        margin-left: 20px;

        &:hover {
            background-color: #1376DD;
        }
        &.disabled {
            background-color: rgba(74, 151, 230, 0.5);
        }
    }
}
.section1 {
    width: 100%;
    height: 600px;
    background: url(../img/bg1.png) center center no-repeat;
    text-align: center;

    .desc {
        display: inline-block;
        vertical-align: middle;
        margin: 0 150px 0 0;
        width: 300px;
        text-align: left;

        h1 {
            font-size: 30px;
            color: $white;
            padding-bottom: 40px;
            border-bottom: 1px solid $white;
        }
        p {
            font-size: 14px;
            color: $white;
            margin-top: 40px;
        }
    }
    img {
        display: inline-block;
        vertical-align: middle;
    }
}
.section2 {
    width: 100%;
    padding: 0 0 100px;
    text-align: center;

    h2 {
        font-size: 18px;
        font-weight: bold;
        line-height: 2;
        color: $black;
    }
    p {
        font-size: 14px;
        color: $black;
    }
}
.section3 {
    width: 100%;
    padding: 150px 0;
    background: url(../img/bg2.png) center center no-repeat;

    h2, p {
        color: $white;
        text-shadow: 0 1px $black;
    }
}
.section4 {
    width: 100%;
    padding: 80px 0;

    ul {
        width: 810px;
        margin: 30px auto;
        padding: 0;
        overflow: hidden;
        list-style: none;

        li {
            margin: 0 20px;
            float: left;
        }

        .wrap {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: #F1F6F7;
            text-align: center;

            div {
                display: inline-block;
                vertical-align: middle;
            }
        }
        p {
            margin-top: 10px;
            width: 160px;
            text-align: center;
            color: $black;
        }
        .web {
            @include use-sprite('i1');
        }
        .mobile {
            @include use-sprite('i2');
        }
        .server {
            @include use-sprite('i3');
        }
        .design {
            @include use-sprite('i4');
        }
    }
}
.footer {
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(54, 60, 78);
    text-align: center;
    color: $white;

    .logo {
        margin-top: 120px;
        display: inline-block;
        @include use-sprite('logo-small');
    }

    .cp {
        margin: 120px 0 10px;  
    }
}